.card{
    margin: 10px auto;
    box-shadow: 5px 5px 4px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    height: 100%;
    transition: 0.3s;
  }
.card:hover {
  box-shadow: 5px 10px 16px 0 rgba(0,0,0,0.3);
}